html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    color: white;
}

body {
    background-image: linear-gradient(to right, #010332, #100328, #29011C, #43000D, #530005);
    font-family: Poppins, sans-serif;
    margin: 0;
}

#tin{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(38, 29, 4, 0.136);
}

span{
    color: white;
}
#int{
    color: rgb(12, 197, 197);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ccc{
    margin: 30px;
}

.ag{
    width: 100%;
    color: white;
    margin: 30px;
}

#int{
    font-size: 50px;
}

#ab{
    width: 350px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    border-radius: 10px;
    animation: fadeInUp 0.5s ease forwards;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#ab:hover{
    transform: translateY(-7px);
    background-color: rgba(207, 207, 159, 0.036);
    box-shadow: 1px 1px 10px rgb(245, 241, 241);
}

/* khadjhsd */
div.A {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(38, 29, 4, 0.136);
    padding: 20px;
}

div.B{
    background-color: rgba(207, 207, 159, 0.036);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 210px;
    flex: 1;
    display: flex;
    flex-direction: column;
    animation: fadeInUp 0.5s ease forwards;
}

div.B:hover{
    transform: translateY(-7px);
    background-color: rgba(247, 247, 247, 0.147);
    box-shadow: 1px 1px 10px rgb(245, 241, 241);
}

img {
    width: 100%;
    height: auto;
    margin-left: 5px;
    border-radius: 3px;
}

nav {
    background-image: linear-gradient(to bottom, rgba(42, 36, 36, 0.456), rgb(17, 1, 10));
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    margin-left: 15px;
    padding: 7px;
    color: white;
    display: inline-block;
    background-color:  rgba(70, 64, 64, 0.815);
    border-radius: 17px;
    padding: 8px;
    margin-right: 10px;
    transition: all 0.3s ease;
}

li:hover {
    background-color: rgba(235, 228, 228, 0.595);
    color: white;
    box-shadow: 1px 1px 10px rgb(250, 243, 243);
}

h1 {
    margin-left: 20px;
    border-radius: 7px;
    color: rgba(245, 243, 243, 0.884);
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    background-color: black;
    height: 200px;
}

footer{
    padding: 30px;
    text-align: center;
}

#io{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
}

.ico{
    margin: 20px;
    font-size: 40px;
    transition: all 0.3s ease;
}

.ico:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(16, 2, 81, 0.6);
    color: rgb(208, 191, 221);
}

@media (max-width: 768px) {
    html{
        scroll-padding-top: 160px;
    }
    h1 {
        font-size: 36px;
    }

    div.A {
        flex-direction: column;
    }

    div.B {
        width: 90%;
        margin: 10px auto;
    }

    nav {
        flex-direction: column;
    }

    li {
        margin: 5px;
        font-size: 10px;
    }

    #tin{
        flex-direction: column;
    }

    div.ag{
        width: 90%;
        margin: 10px auto;
    }
}