html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, rgb(102, 90, 152), rgb(150,202,247), rgb(156,220,170), rgb(229,225,171), rgb(243,198,165), rgb(248,163,168));
    font-family: Poppins, sans-serif;
    margin: 0;
}
#tin{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    width: 80%;
    margin: auto;
    padding: 20px;
}
span{
    color: white;
}
#int{
    color: rgb(4, 53, 53);
}

#ccc{
    margin: 30px;
}

.ag{
    width: 50%;
    color: white;
}
#int{
    font-size: 50px;
}

#ab{
    width: 450px;
    height: auto;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgb(19, 14, 5);
}

/* khadjhsd */
div.A {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    background-color: rgba(38, 29, 4, 0.136);
    padding: 20px;
}

div.B {
    background-color: rgba(247, 247, 247, 0.356);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 210px;
    flex: 1;
    display: flex;
    flex-direction: column;
    animation: fadeInUp 0.5s ease forwards;
}

div.B:hover {
    transform: translateY(-7px);
    background-color: rgba(207, 207, 159, 0.036);
    box-shadow: 1px 1px 10px black;
}

img {
    width: 100%;
    height: auto;
    margin-left: 5px;
    border-radius: 3px;
}

nav {
    background-image: linear-gradient(to bottom ,rgba(27, 26, 26, 0.642), rgba(255, 255, 255, 0.237));
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    margin-left: 15px;
    padding: 7px;
    color: white;
    display: inline-block;
    background-color: rgba(235, 228, 228, 0.595);
    border-radius: 17px;
    padding: 8px;
    margin-right: 10px;
}

li:hover {
    background-color: rgba(70, 64, 64, 0.815);
    color: white;
    box-shadow: 1px 1px 10px rgb(250, 243, 243);
}

h1 {
    margin-left: 20px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.884);
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    background-color: black;
    height: 200px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    div.A {
        flex-direction: column;
    }

    div.B {
        width: 90%;
        margin: 10px auto;
    }

    nav {
        flex-direction: column;
    }

    li {
        margin: 5px;
    }

    #tin{
        flex-direction: column;
    }

    div.ag{
        width: 90%;
        margin: 10px auto;
    }
}