div.A{
    display: inline-flex;
}
div.B{
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: transform 0.3s ease; box-shadow 0.3s ease;
}

div.B:hover{
    transform: translateY(7px);
    box-sizing: 5px 5px 10px blue;
    background-color: rgb(218, 218, 215);
}

img{
    width: 200px;
    height: auto;
}

nav{
    background-color: rgb(39, 36, 28);
    display: flex;
    width: 100%;
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
    margin-left: 15px;
    padding: 7px;
    color: white;
    display: inline-block;
}

h1{
    padding: 10px;
    margin-left: 20px;
    background-color: antiquewhite;
    border-radius: 7px;
}
